<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="FMGConnectServiceSoap11Binding" />
                <binding name="FMGConnectServiceSoap11Binding1" />
            </basicHttpBinding>
            <customBinding>
                <binding name="FMGConnectServiceSoap12Binding" >
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="FMGConnectServiceSoap12Binding1">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://dev0164/pc/ws/nz/co/fmg/webservice/fmgconnect/FMGConnectService"
                binding="customBinding" bindingConfiguration="FMGConnectServiceSoap12Binding"
                contract="DevInt_PolicyCenterService.FMGConnectServicePortType"
                name="FMGConnectServiceSoap12Port" />
            <endpoint address="http://localhost:8180/pc/ws/nz/co/fmg/webservice/fmgconnect/FMGConnectService"
                binding="customBinding" bindingConfiguration="FMGConnectServiceSoap12Binding1"
                contract="Localhost_PC.FMGConnectServicePortType" name="FMGConnectServiceSoap12Port1" />
            <endpoint address="http://localhost:8180/pc/ws/nz/co/fmg/webservice/fmgconnect/FMGConnectService/soap11"
                binding="basicHttpBinding" bindingConfiguration="FMGConnectServiceSoap11Binding1"
                contract="Localhost_PC.FMGConnectServicePortType" name="FMGConnectServiceSoap11Port" />
        </client>
    </system.serviceModel>
</configuration>